.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-right {
  text-align: right;
}

div.yt {
  width: 300px;
}

figure {
    margin: 1em !important;
    text-align: center;
    figcaption {
        font-style: italic;
    }
}

// Override table alternating rows, ugly with rowspans.
.markdown table tr:nth-child(2n) {
  background: inherit;
}

.fullwidth {
  width: 100%;
}
table.fullwidth {
  display: table;
}
