.float-left {
    float: left;
}

.float-right {
    float: right;
}

div.yt {
  width: 300px;
}

figure {
    margin: 1em !important;
    text-align: center;
    figcaption {
        font-style: italic;
    }
}
